name: CI
on: [push]
jobs:
   sast_scan:
       name: Bandit scan
       runs-on: ubuntu-latest
       steps:
         - name: checkout code
           uses: actions/checkout@v2

         - name: setup python
           uses: actions/setup-python@v2
           with: 
             python-version: 3.11

         - name: install bandit
           run: pip install bandit

         - name: run bandit scan
           run: bandit -ll -ii -r . -f json -o bandit-report.json

         - name: upload artifacts
           uses: actions/upload-artifact@v4
           if: always()
           with:
             name: bandit-findings
             path: bandit-report.json

   image_scan:
     name: build and scan the image
     runs-on: ubuntu-latest
     steps:
         - name: checkout code
           uses: actions/checkout@v2

         - name: setup docker
           uses: docker-practice/actions-setup-docker@v1
           with:
              docker_version: '27.0.3'
         - name: build image
           run: docker build -f Dockerfile -t myapp:latest .

         - name: docker scout scan
           run: |
             curl -sSfL https://raw.githubusercontent.com/docker/scout-cli/main/install.sh -o install-scout.sh
             sh install-scout.sh
             echo ${{ secrets.REPO_PWD }} | docker login -u ${{ secrets.REPO_USER }} --password-stdin
             docker scout quickview
             docker scout cves
     
        
  
