name: CI
on: [push]
jobs:
   sast_scan:
       name: Bandit scan
       runs-on: ubuntu-latest
       steps:
         - name: checkout code
           uses: actions/checkout@v2

         - name: setup python
           uses: actions/setup-python@v2
           with: 
             python-version: 3.11

         - name: install bandit
           run: pip install bandit

         - name: run bandit scan
           run: bandit -ll -ii -r . -f json -o bandit-report.json

         - name: upload artifacts
           uses: actions/upload-artifacts@v3
           with:
             name: bandit finddings
             path: bandit-report.json
        
  
